<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<script>
  function func1(){
    alert("Add items in the cart to checkout");
  }
</script>

{% block body %}
<div class="container">
    <ul class="breadcrumb">
      <li><a href="{{url_for('index')}}"><i class="fa fa-home"></i></a></li>
      <li><a href="{{url_for('cart')}}">Shopping Cart</a></li>
    </ul>
    <div class="row">
      <div id="column-left" class="col-sm-3 hidden-xs column-left">
        <div class="column-block">
          <div class="column-block">
            <div class="columnblock-title">Categories</div>
            <div class="category_block">
              <ul class="box-category treeview-list treeview">
                {% for i in categories %}
                  <li><a href="{{url_for('category',category=i[0])}}">{{i[0]}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h3 class="productblock-title">Latest </h3>
          <div class="row bestseller-grid product-grid">
            {% for li in latestitems %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-grid-item">
              <div class="product-thumb transition">
                <div class="image product-imageblock"> <a href="{{url_for('product',produce_id = li[3])}}"> <img loading="lazy" src="{{li[2]}}" alt="" title="" class="img-responsive" style="height: 45px; width: 60px;"/> </a>
                </div>
                <div class="caption product-detail">
                  <h4 class="product-name"> <a href="{{url_for('product',produce_id = li[3])}}" title=""> {{li[0]}} </a> </h4>
                  <p class="price product-price"> <span class="price-new">{{li[1]}}</span></p>
                  <h4 class="product-name"> {{li[4]}} </h4>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm-9" id="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success text-center">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                      </button>
                  <strong>{{ message }}</strong>
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        <h1>Shopping Cart</h1>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="text-center">Image</td>
                  <td class="text-left">Product Name</td>
                  <td class="text-left">Farmer</td>
                  <td class="text-left">Quantity</td>
                  <td class="text-right">Unit Price</td>
                  <td class="text-right">Total</td>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                  <td class="text-center"><a href="{{ url_for('product', produce_id=item[5]) }}"><img loading="lazy" class="img-thumbnail" title="" alt="" src="{{item[4]}}" style = "height: 60px; width: 80px;"></a></td>
                  <td class="text-left"><a href="{{ url_for('product', produce_id=item[5]) }}">{{item[3]}}</a></td>
                  <td class="text-left">{{item[6]}}</td>
                  <td class="text-left"><div style="max-width: 200px;" class="input-group btn-block">
                    <form action="{{ url_for('item') }}" method="post">
                      <input type="number" class="form-control quantity" size="1" min="1" max="{{ item[9] }}" name="quantity" value="{{ item[2] }}" type="submit">
                      <span class="input-group-btn">
                        <input type="hidden" value="{{ item[0] }}" name="item_id">
                        <input type="hidden" value="{{ item[5] }}" name="produce_id">
                        <button class="btn btn-primary" title="" data-toggle="tooltip" value="update" name="type" data-original-title="Update" type="submit"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger" title="" data-toggle="tooltip" value="delete" name="type" data-original-title="Remove" type="submit"><i class="fa fa-times-circle"></i></button>
                      </span></div>
                    </form>
                  </td>
                  <td class="text-right">{{ '%0.2f'| format(item[1]|float) }} Rs.</td>
                  <td class="text-right">{{ '%0.2f'| format(item[1]*item[2]|float) }} Rs.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>     
        <div class="row">
          <div class="col-sm-4 col-sm-offset-8">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="text-right"><strong>Sub-Total:</strong></td>
                  <td class="text-right">{{ '%0.2f'| format(subtotal|float) }} Rs.</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>GST (20%):</strong></td>
                  <td class="text-right">{{ '%0.2f'| format(subtotal*0.2|float) }} Rs.</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>Total:</strong></td>
                  <td class="text-right">{{ '%0.2f'| format(subtotal*1.2|float) }} Rs.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="buttons">
          <div class="pull-left"><a class="btn btn-default" href="{{url_for('index')}}">Continue Shopping</a></div>
          {% if subtotal == 0 %}
          <div class="pull-right"><input type="button" class="btn btn-primary" value="Checkout" onclick="func1()"></div>
          {% else %}
            <div class="pull-right"><a class="btn btn-primary" href="{{url_for('checkout')}}">Checkout</a></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
{% include "footer.html" %}
</html>
