<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% block body %}
<body class="category col-2 left-col">
<div class="container">
  <ul class="breadcrumb">
    <li><a href="{{url_for('index')}}"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Categories</a></li>
  </ul>
  <div class="row">
    <div id="column-left" class="col-sm-3 hidden-xs column-left">
      <div class="column-block">
        <div class="columnblock-title">Categories</div>
        <div class="category_block">
          <ul class="box-category treeview-list treeview">
            {% for i in categories %}
            <li><a href="{{url_for('category',category=i[0])}}">{{i[0]}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="panel panel-default filter">
        <div class="panel-heading columnblock-title">Refine Search</div>
        <form action="{{ request.url }}" method="GET" id="refine">
        <div class="filter-block">
            <div class="list-group"> 
              <a class="list-group-item">Quantity</a>
              <div class="list-group-item">
                <div id="filter-group1">
                  <label class="checkbox">
                    <input name="quantity" type="checkbox" value="100" />
                    1 - 100</label>
                  <label class="checkbox">
                    <input name="quantity" type="checkbox" value="200" />
                    100 - 200</label>
                  <label class="checkbox">
                    <input name="quantity" type="checkbox" value="500" />
                    200 - 500</label>
                  <label class="checkbox">
                    <input name="quantity" type="checkbox" value="10000" />
                    > 500</label>
                </div>
              </div>
              <a class="list-group-item">Price</a>
              <div class="list-group-item">
                <div id="filter-group2">
                  <label class="checkbox">
                    <input name="price" type="checkbox" value="100" />
                    < Rs. 100</label>
                  <label class="checkbox">
                    <input name="price" type="checkbox" value="500" />
                    Rs. 101 - Rs.500 </label>
                  <label class="checkbox">
                    <input name="price" type="checkbox" value="1000" />
                    Rs. 501 - Rs.1000 </label>
                  <label class="checkbox">
                    <input name="price" type="checkbox" value="10000" />
                     > Rs.1000 </label>
                </div>
              </div>
              <!-- <a class="list-group-item">Size</a>
              <div class="list-group-item">
                <div id="filter-group3">
                  <label class="checkbox">
                    <input name="filter[]" type="checkbox" value="7" />
                    Big (3)</label>
                  <label class="checkbox">
                    <input name="filter[]" type="checkbox" value="8" />
                    Medium (3)</label>
                  <label class="checkbox">
                    <input name="filter[]" type="checkbox" value="9" />
                    Small (1)</label>
                </div>
              </div> -->
            </div>
          <div class="panel-footer text-right">
            <button type="submit" id="button-filter" class="btn btn-primary">Refine Search</button>
          </div>
        </div>
      </div>
      <h3 class="productblock-title">Latest</h3>
      <div class="row special-grid product-grid">
        {% for li in latestitems %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-grid-item">
            <div class="product-thumb transition">
              <div class="image product-imageblock">
              <a href="{{ url_for('product', produce_id = li[3]) }}">
                <img src="{{ li[2] }}" style="height: 60px; width: 50px;" alt="{{ li[0] }}" title="{{ li[0] }}" class="img-responsive" />
              </a>
              </div>
              <div class="caption product-detail">
                <h4 class="product-name">
                <a href="{{ url_for('product', produce_id = li[3]) }}" title="{{ li[0] }}">{{ li[0] }}</a>
                </h4>
                <p class="price product-price">{{ li[1] }} Rs.</p>
                <h4 class = "product-name">{{ li[4] }}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
       </div>
    </div>
    <div id="content" class="col-sm-9">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success text-center">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                      </button>
                  <strong>{{ message }}</strong>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <h2 class="category-title">Products</h2>
      <div class="row category-banner">
        <div class="col-sm-12 category-image"><img src="/static/image/banners/category-banner.jpg" alt="Desktops" title="Desktops" class="img-thumbnail" /></div>
      </div>
      <br><br>
      <div class="category-page-wrapper">
        <div class="col-md-6 list-grid-wrapper">
          <div class="btn-group btn-list-grid">
            <!-- <button type="button" id="list-view" class="btn btn-default list" data-toggle="tooltip" title="List" ><i class="fa fa-th-list"></i></button> -->
            <button type="button" id="grid-view" class="btn btn-default grid" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
          </div>
          <a href="#" id="compare-total">Product List</a> </div>
        <div class="col-md-2 text-right sort-wrapper">
          <label class="control-label" for="input-sort">Sort By :</label>
          <div class="sort-inner">
            <select id="input-sort" class="form-control" name="sort" onchange="$('#refine').submit()">
              <option value="produce_name ASC" selected="selected">Default</option>
              <option value="produce_name ASC" >Name (A - Z)</option>
              <option value="produce_name DESC" >Name (Z - A)</option>
              <option value="produce_quantity ASC" >Quantity (Small &gt; Large)</option>
              <option value="produce_quantity DESC"  >Quantity (Large &gt; Small)</option>
              <option value="produce_price ASC" >Price (Low &gt; High)</option>
              <option value="produce_price DESC" >Price (High &gt; Low)</option>
            </select>
        </form>
          </div>
        </div>
      </div>
      <br />
      <div class="grid-list-wrapper" id="parent">
        {% for item in category %}
            <div class="product-layout product-list col-xs-12">
              <div class="product-thumb">
                <div class="image product-imageblock"> <a href="{{url_for('product',produce_id = item[3])}}"> <img src="{{ item[0] }}" class="img-responsive" /> </a>
                  <div class="button-group">
                    <form action="{{ url_for('item') }}" method="POST">
                      <input type="hidden" name="produce_id" value="{{ item[3] }}">
                      <input type="hidden" name="quantity" value="1" id="input-quantity" class="form-control"/>
                      <button type="submit" value="add" name="type" class="addtocart-btn">Add to Cart</button>
                      <button type="button" class="compare" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></button>
                    </form>
                  </div>
                </div>
                <div class="caption product-detail" style="position:relative;">
                  <h4 class="product-name"> <a href="{{url_for('product', produce_id = item[3])}}" title="{{item[1]}}" product-name="{{ item[1] }}">{{ item[1] }}</a> </h4>
                  <p class="price product-price"> 
                    <span class="price-new" produce-price="{{ item[2] }}" style="display: inline-block;">Rs.{{item[2]}}</span>
                    <span class="price-tax" produce-quantity="{{ item[4] }}" style="display: inline-block; position:absolute; right:0">{{item[4]}} Kg</span>
                  </p>
                </div>
                <div class="button-group">
                  <button type="submit" class="addtocart-btn">Add to Cart</button>
                  <button type="button" class="compare" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <div class="category-page-wrapper">
        {% if total < 12 %}
          <div class="result-inner">Showing {{ 1 }} to {{ total }} of {{ total }}</div>
        {% else %}
          <div class="result-inner">Showing {{ (page-1)*12+1 }} to {{ (page)*12 }} of {{ total }}</div>
        {% endif %}
        <div class="pagination-inner">
          <ul class="pagination">
            {% for p in range(0, total+1, 12) %}
              {% if ((loop.index)//12)+1 == page|int %}
              <li class="active"><span>{{ page }}</span></li>
              {% else %}
              <li><a href="{{ url_for('category', category=request.path[10:], page=((loop.index)//12)+1 ) }}">{{ ((loop.index)//12)+1 }}</a></li>
              {% endif %}
              {% if (total//12+1 != page|int) %}
              <li><a href="{{ url_for('category', category=request.path[10:], page=(page|int+1|int)|string) }}">&gt;</a></li>
              {% endif %}
              <li><a href="{{ url_for('category', category=request.path[10:], page=(total//12+1)|string ) }}">&gt;|</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}
{% include "footer.html" %}
</html>
