<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% block body %}


<hr>
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success text-center">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
              </button>
          <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<br>
<div class="mainbanner">
  <div id="main-banner" class="owl-carousel home-slider">
    <div class="item"> <a href="javascript: void(0)"><img  loading="lazy" src="/static/image/banners/Main-Banner1.jpg" alt="main-banner1" class="img-responsive" /></a> </div>
    <div class="item"> <a href="javascript: void(0)"><img  loading="lazy" src="/static/image/banners/Main-Banner2.jpg" alt="main-banner2" class="img-responsive" /></a> </div>
    <div class="item"> <a href="javascript: void(0)"><img  loading="lazy" src="/static/image/banners/Main-Banner3.jpg" alt="main-banner3" class="img-responsive" /></a> </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="cms_banner ">
      <div class="col-md-4 cms-banner-left"> <a href="javascript: void(0)"><img  loading="lazy" alt="#" src="/static/image/banners/subbanner1.jpg"></a> </div>
      <div class="col-md-4 cms-banner-middle">
        <div class="md1"><a href="javascript: void(0)"> <img  loading="lazy" alt="#" src="/static/image/banners/subbanner2.jpg"></a> </div>
        <div class="md2"><a href="javascript: void(0)"> <img  loading="lazy" alt="#" src="/static/image/banners/subbanner2.jpg"></a></div>
      </div>
      <div class="col-md-4 cms-banner-right"> <a href="javascript: void(0)"><img  loading="lazy" alt="#" src="/static/image/banners/subbanner3.jpg"></a> </div>
    </div>
  </div>
  <div class="row">
    <div id="content" class="col-md-12" style="width: 100%;">
      
      <div class="customtab">
        <div id="tabs" class="customtab-wrapper">
          <ul class='customtab-inner'>
            {% for category in categories %}
              <li class='tab'><a href="#{{ loop.index }}">{{ category[0] }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% for category in category_items %}
          <div id="{{ loop.index }}" class="tab-content">
            <div class="box">
              <div id="{{ loop.index*11 }}" class="row owl-carousel product-slider" style="display: block;">
              {% for item in category %}
                <div class="item">
                  <div class="product-thumb transition">
                    <div class="image product-imageblock"> <a href="{{url_for('product',produce_id = item[3])}}"> <img  loading="lazy" src="{{item[0]}}" alt="{{item[0]}}" title="{{item[0]}}" class="img-responsive" style="width: 400px; height:300px; "/> </a>
                      <div class="button-group">
                        <form action="{{ url_for('item') }}" method="POST">
                          <input type="hidden" name="produce_id" value="{{ item[3] }}">
                          <input type="hidden" name="quantity" value="1" id="input-quantity" class="form-control"/>
                          <div class="btn-group">
                            <button type="submit" name="type" value="add" class="addtocart-btn">Add to Cart</button>
                          </div>
                        </form>
                        <!-- <button type="button" class="compare" data-toggle="tooltip" title="Compare this Product" ><i class="fa fa-exchange"></i></button> -->
                      </div>
                    </div>
                    <div class="caption product-detail">
                      <h4 class="product-name"><a href="{{url_for('product',produce_id = item[3])}}" title="{{item[1]}}">{{item[1]}}</a></h4>
                      <p class="price product-price"> <span class="price-new">Rs.{{item[2]}}</span><span class="price-tax"></span> </p>
                    </div>
                    <div class="button-group">
                      <button type="button" class="addtocart-btn" >Add To Cart</button>
                      <!-- <button type="button" class="compare" data-toggle="tooltip" title="Compare this Product" ><i class="fa fa-exchange"></i></button> -->
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}  
        <h3 class="productblock-title">Latest Products</h3>
        <div class="box">
          <div id="Weekly-slider" class="row owl-carousel product-slider">
            {% for item in latest %}
              <div class="item product-slider-item">
                <div class="product-thumb transition">
                  <div class="image product-imageblock"> <a href="{{url_for('product',produce_id = item[3])}}"> <img  loading="lazy" src="{{ item[2] }}" alt="{{item[0]}}" title="{{item[0]}}" class="img-responsive" style="width: 400px; height:300px; "/> </a>
                    <div class="button-group">
                      <form action="{{ url_for('item') }}" method="POST">
                        <input type="hidden" name="produce_id" value="{{ item[3] }}">
                        <input type="hidden" name="quantity" value="1" id="input-quantity" class="form-control"/>
                        <div class="btn-group">
                          <button type="submit" name="type" value="add" class="addtocart-btn">Add to Cart</button>
                        </div>
                      </form>
                      <!-- <button type="button" class="compare" data-toggle="tooltip" title="Compare this Product" ><i class="fa fa-exchange"></i></button> -->
                    </div>
                  </div>
                  <div class="caption product-detail">
                    <h4 class="product-name"><a href="{{url_for('product',produce_id = item[3])}}" title="{{item[0]}}">{{item[0]}}</a></h4>
                    <p class="price product-price"> <span class="price-new">Rs.{{item[1]}}</span><span class="price-tax"></span> </p>
                  </div>
                  <div class="button-group">
                    <button type="button" class="addtocart-btn" >Add To Cart</button>
                    <!-- <button type="button" class="compare" data-toggle="tooltip" title="Compare this Product" ><i class="fa fa-exchange"></i></button> -->
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% include "footer.html" %}
<script src="static/javascript/parally.js"></script> 
<script>
$('.parallax').parally({offset: -40});
</script>
</html>
