<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% block body %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap Order Details Table with Search Filter</title>
	<link rel="stylesheet" href="/static/css/order_history_style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/static/css/bootstrap-iso.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#search").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#order_details tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
			$("#location").change(function() {
				var value = $(this).children("option:selected").text().toLowerCase();
				$("#order_details tr").filter(function() {
					if(value == "all"){
						$(this).toggle(true)
					} else {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					}
				});
			});
			$("#status").change(function() {
				var value = $(this).children("option:selected").val().toLowerCase();
				$("#order_details tr").filter(function() {
					if(value == "any"){
						$(this).toggle(true)
					} else {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					}
				});
			});
		});
	</script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</head>
<body>
	<div class="bootstrap-iso">
		<div class="table-wrapper container">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<div class="alert alert-success text-center">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
							</button>
						<strong>{{ message }}</strong>
					</div>
					<br>
					<br>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="table-title" style = "padding: 0%; padding-left: 15px;">
				<div class="row">
					<div class="col-sm-9">
						<h2>Produce <b>Details</b></h2>
					</div>
				</div>
			</div>
			<div class="table-filter">
				<div class="row">
					<div class="col-sm-12">
						<div class="filter-group">
							<label>Search Any Field</label>
							<input type="text" class="form-control" id="search" placeholder="Search here">
						</div>
						<div class="filter-group">
							<label>Category</label>
							<select class="form-control" id="location">
                                <option>All</option>
								{% for category in categories %}
								<option>{{category[0]}}</option>
								{% endfor %}					
							</select>
						</div>
						<div class="filter-group">
							<label>Quantity Status</label>
							<select class="form-control" id="status">
								<option value="Any">Any</option>							
								<option value="Kg">Available</option>
								<option value="0 Kg">Finished</option>
							</select>
						</div>
						<span class="filter-icon"><i class="fa fa-filter"></i></span>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Produce Image</th>
						<th>Produce Name</th>
                        <th>Produce Quantity</th>
                        <th>Produce Category</th>
						<th>Produce Date</th>
						<th>Produce Price</th>
					</tr>
				</thead>
				
				<tbody id="order_details">
					{% for item in produce_details %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="#"><img src="{{item[0]}}" style="height: 52px; width: 80px;" class="img-thumbnail" alt="Avatar"></a></td>
                            <td><span class="text-center"></span>{{item[1]}}</td>
                            <td>{{item[2]}} Kg</td>
                            <td>{{item[5]}}</td>
							<td>{{item[3]}}</td>
							<td>{{item[4]}} Rs.</td>                        
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>  
</body>
{% endblock %}
{% include "footer.html" %}
</html>                                		                            